<a href="https://colab.research.google.com/github/sevaroy/NST-Interaction-imeiAI/blob/master/API_data_source_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests

url = 'https://data.coa.gov.tw/Service/OpenData/FromM/AquaticTransData.aspx'
response = requests.get(url)

if response.status_code == 200:
    data = response.json()

df = pd.DataFrame(data)
df.to_csv('AquaticTransData.csv', index = False, encoding='utf-8')
df.to_excel('AquaticTransData.xlsx')
df1 = pd.read_csv('AquaticTransData.csv')

df1.head(10)

      交易日期  品種代碼   魚貨名稱 市場名稱      上價      中價      下價    交易量     平均價
0  1120220  1171     青斑  興達港     0.0     0.0     0.0   40.0   200.0
1  1120220  2041     秋姑   澎湖   416.0   416.0   416.0    2.0   416.0
2  1120220  2163     花枝  興達港     0.0     0.0     0.0   10.0   160.0
3  1120220  4051   斑節蝦海   澎湖  1300.0  1300.0  1300.0    7.0  1300.0
4  1120220  5061  鐘螺(海)   澎湖   350.0   222.4   175.0   57.4   238.4
5  1120220  2063     黑口   澎湖   183.0   183.0   183.0    3.0   183.0
6  1120220  2152     鯊條   澎湖    55.0    55.0    55.0   42.3    55.0
7  1120220  2201    石斑魚   澎湖   649.6   339.1   300.0   14.7   393.4
8  1120220  2211     狗母  興達港     0.0     0.0     0.0   50.0    40.0
9  1120220  4091   厚殼蝦海   澎湖   290.0   275.8   270.0  120.0   277.5